<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <i class="fab fa-facebook-square"></i>
        <h1 class="display-4 d-inline">Friend Finder</h1>
        <p class="lead mb-10">Answer a few basic questions.
            Then find the friend with the greatest compatibility!</p>
        <a href="/survey" class="btn btn-dark survey-btn">Survey</a>
    </div>
</div>